<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <title>
        المعالج الآلي لمفردات النصوص العربية
    </title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link href="//db.onlinewebfonts.com/c/22b5e24da7d5f327cf3bd91ec55c9fea?family=Traditional+Arabic" rel="stylesheet"
        type="text/css" />

    <script src="javascripts/fileValidator.js"></script>
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/templatemo-breezed.css">

    <link rel="stylesheet" href="assets/css/owl-carousel.css">

    <link rel="stylesheet" href="assets/css/lightbox.css">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav" style="font-size: medium;">
                            <li class="scroll-to-section"><a href="#contact-us">حول البرنامج</a></li>
                            <li class="scroll-to-section"><a href="vocabularylist">منشئ قوائم المفردات</a></li>
                            <li class="scroll-to-section"><a href="comparefreqlists">مقارن قوائم الشيوع</a></li>
                            <li class="scroll-to-section"><a href="frequencylist">منشئ قوائم الشيوع</a></li>
                            <li class="scroll-to-section"><a href="/">الرئيسية</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->

                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                           
                        </a>
                        <!-- ***** Logo End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Search Area ***** -->
    <!-- <div id="search">
        <button type="button" class="close">×</button>
        <form id="contact" action="#" method="get">
            <fieldset>
                <input type="search" name="q" placeholder="SEARCH KEYWORD(s)" aria-label="Search through site content">
            </fieldset>
            <fieldset>
                <button type="submit" class="main-button">Search</button>
            </fieldset>
        </form>
    </div> -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
            <!-- Item -->
            <div class="item">
                <div class="img-fill">
                    <img src="assets/images/slide-01.jpg" alt="">
                    <div class="text-content">
                        <h3 style="font-size: xx-large;">عنا</h3>
                        <h5 style="font-size: larger;">برنامج يعالج مفردات نصوص مقررات تعليم اللغة العربية <br> الناطقين
                            بلغات أخرى آليا لتحديد تكرار المفردات ومدى ارتباطها بقوائم الشيوع</h5>
                        <a href="#contact-us" class="main-stroked-button">إعرف المزيد</a>
                    </div>
                </div>
            </div>
            <!-- // Item -->
            <!-- Item -->
            <div class="item">
                <div class="img-fill">
                    <img src="assets/images/slide-02.jpg" alt="">
                    <div class="text-content">
                        <h3 style="font-size: xx-large;">خدماتنا</h3>
                        <h5 style="font-size: larger;">
                            <br> يجد زائر الموقع عددًا من خدمات معالجة النصوص والمفردات
                            <br> دون الحاجة إلى تنزيل أو تثبيت أي برنامج على جهازه الحاسوبي أو جواله
                            <br> وكل ما يحتاج إليه متصفح إنترنت لاستخدام هذه البرمجية
                            <br> حيث تمت برمجته بلغة انترنت تعمل على خوادم الشبكة.

                        </h5>
                        <a href="#contact-us" class="main-stroked-button">استكشف الخدمات</a>
                    </div>
                </div>
            </div>
            <!-- // Item -->
            <!-- Item -->
            <div class="item">
                <div class="img-fill">
                    <img src="assets/images/slide-03.jpg" alt="">
                    <div class="text-content">
                        <h3 style="font-size: xx-large;">ماذا يقدم البرنامج</h3>
                        <h5 style="font-size: larger;">
                            <br> إنشاء قوائم الشيوع لمفردات النصوص التي يتم رفعها للموقع
                            <br> من خلال ملف ذو امتداد (تي إكس تي)
                            <br> مقارنة قوائم شيوع المفردات للنص الذي يتم رفعه إلى الموقع
                            بقوائم شيوع اللغة العربية المتوفرة في البرنامج
                        </h5>
                        <a href="#about" class="main-stroked-button">جرب الآن</a>
                    </div>
                </div>
            </div>
            <!-- // Item -->
        </div>
    </div>
    <div class="scroll-down scroll-to-section"><a href="#about"><i class="fa fa-arrow-down"></i></a></div>
    <!-- ***** Main Banner Area End ***** -->


    

    <!-- ***** Contact Us Area Starts ***** -->
    <section class="section" id="contact-us">
        <div class="container">
            <div class="contact-form">
                <div class="row">
                    <div class="right-text-content" style="padding: 0 50px 50px 50px;">

                        <div class="text-right" style="font-size: large; margin-top: 20px;">

                            <div>
                                <h2 style="color: #5fb759;">عن البرنامج</h2>
                                <h5 style="color: gray; font-size: 15px;">
                                    برنامج للمعالجة الآلية لمفردات نصوص مقررات تعليم اللغة العربية الناطقين بلغات أخرى
                                    لتحديد تكرار مفرداتها ومدى ارتباطها بقوائم الشيوع
                                </h5>
                            </div>

                            <br>هذا البرنامج أحد نتائج رسالة علمية مقدمة للحصول على درجة العالمية العالية (الدكتوراه) في
                            .قسم إعداد وتدريب المعلمين بمعهد تعليم اللغة العربية بالجامعة الإسلامية بالمدينة المنورة
                            <br> إعداد الطالب: ناصر بن إبراهيم الراجح
                            <br> إشراف الدكتور: أحمد بن صالح الصبيحي
                            <br> العام الجامعي 1441-1442هـ

                        </div>
                    </div>
                </div>

            </div>
        </div>

      <div class="container">
            <div class="contact-form">
                <div class="row">
                    <div class="right-text-content" style="padding: 0 50px 50px 50px;">
                        <div class="text-right">
                        <h2 style="color: #5fb759; margin-bottom: 10px;"> فكرة البرنامج</h2>
                        <h5 style="color: gray;">معالجة محتويات مناهج تعليم اللغة العربية؛ لدراستها
                            وفق النحو التالية</h5>
                    </div>

                      <div class="text-right">
                    - صفحة منشئ قوائم الشيوع:
<br>
                    يقوم البرنامج بتكوين قائمة بمفردات المقرر الذي يتم رفعه للموقع بصيغة (تي اكس تي)، وفرزها حسب
                    عدد مرات تكرار كل مفردة تنازليا، ومن ثم إجراء عدة معالجات على القائمة التي استخرجها من النص؛
                    بهدف تصفيتها من العلامات والرموز والحروف والمفردات غير العربية والسوابق واللواحق؛ لتحديد عدد
                    تكرار المفردات بأدق شكل ممكن لمعالجته آليا.
                    <br>
                    - صفحة مقارنة قوائم الشيوع:
                    <br>
                    يتم فيها مقارنة قائمة شيوع المقرر المرفوع، والمكونة بنفس الآلية الموجودة في صفحة منشئ قوائم
                    
                    الشيوع، وتكون المقارنة بأحد أربع قوائم متاحة في البرنامج، وهي:
                    <ul style=" list-style-type: none;">

                    
                    <li>القائمة الأولى:
                    
                    قائمة معالجة من قائمة الكلمات الأكثر تكرارا لكامل المدونة اللغوية العربية
                    لمدينة الملك عبدالعزيز للعلوم والتقنية.</li>
                  
                <li>
                    القائمة الثانية:
                    
                    قائمة معالجة من قاموس تكرارات اللغة العربية، المفردات الأساسية للمتعلم لتيم
                    بوكوالتر.</li>
                
                    <li>
                    القائمة الثالثة:
                    قائمة معالجة من قائمة مكة للمفردات الشائعة.</li>

                </li>
                    القائمة الرابعة:
                  
                    قائمة مقترحة للمفردات الشائعة في اللغة العربية: وهي قائمة منتخبة من القوائم
                    الثلاث السابقة. </li>
       
                    بعد ذلك يتم عرض النسبة المئوية للتماثل ما بين القائمة المستخرجة من المقرر والقائمة المختارة
                    من البرنامج؛ لتعطي الفاحص أداة معيارية توضح له مدى قرب أو بعد المقرر المفحوص من اللغة
                    العربية الشائعة حسب القائمة المختارة.
               
                </ul>
                    - صفحة منشئ قوائم المفردات:
                    <br>
                    يتم فيها إنشاء قائمة بكامل مفردات المقرر، وتكون مرتبة بحسب تكرارات الكلمات في المقرر تنازليا
                    أو ألف بائيا، وتوضع في جدول مكون من ثلاثة أعمدة يوضع في كلٍ منها:
                    <br>
                    رقم الكلمة.
                    <br>
                    الكلمة.
                    <br>
                    مساحة فارغة؛ تتيح للمستخدم كتابة ملاحظاته حول الكلمة، كترجمتها بلغته أو غيرها من الملاحظات.
                    <br>
                    
                  <a> G  L  I  2  0  0  3  ج ميل</a>   :يمكن التواصل مع الباحث على البريد التالي 
                </div>

                </div>
            </div>
        </div>
      </div>
    </section>
    <!-- ***** Contact Us Area Ends ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="left-text-content">
                        <p>Copyright &copy; 2021 ناصر الراجح</p>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="right-text-content">
                        <ul class="social-icons">

                            <li>
                            </li>
                            <!-- <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a> -->
                            </li>
                            <li><a rel="nofollow" href="https://twitter.com/glx96"><i style="color: cornflowerblue;"
                                        class="fa fa-twitter"></i></a>
                            </li>
                            <li><a rel="nofollow" href="https://www.instagram.com/gli20032"><i class="fa fa-instagram"
                                        aria-hidden="true" style="color: #C13584;"></i></a>
                            </li>
                            <!-- <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-dribbble"></i></a> -->
                            </li>
                            <li style="color: white;"> :تابعني عبر القنوات التالية</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <!-- <script src="assets/js/popper.js"></script> -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/isotope.js"></script>

    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

    <script>

        $(function () {
            var selectedClass = "";
            $("p").click(function () {
                selectedClass = $(this).attr("data-rel");
                $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("." + selectedClass).fadeOut();
                setTimeout(function () {
                    $("." + selectedClass).fadeIn();
                    $("#portfolio").fadeTo(50, 1);
                }, 500);

            });
        });

    </script>

</body>

</html>