<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <title>
        المعالج الآلي لمفردات النصوص العربية
    </title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link href="//db.onlinewebfonts.com/c/22b5e24da7d5f327cf3bd91ec55c9fea?family=Traditional+Arabic" rel="stylesheet"
        type="text/css" />

    <script src="javascripts/fileValidator.js"></script>
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/templatemo-breezed.css">

    <link rel="stylesheet" href="assets/css/owl-carousel.css">

    <link rel="stylesheet" href="assets/css/lightbox.css">

</head>

<body style="height: 100%;">

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area" style=" background: rgb(51, 155, 158);
    background: linear-gradient(145deg, rgba(51, 155, 158, 1) 0%, rgba(104, 204, 152, 1) 100%); color: white;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav" style="font-size: medium;">
                            <li class="scroll-to-section"><a href="/#contact-us">حول البرنامج</a></li>
                            <li class="scroll-to-section"><a href="vocabularylist">منشئ قوائم المفردات</a></li>
                            <li class="scroll-to-section"><a href="comparefreqlists">مقارن قوائم الشيوع</a></li>
                            <li class="scroll-to-section"><a href="frequencylist">منشئ قوائم الشيوع</a></li>
                            <li class="scroll-to-section"><a href="/">الرئيسية</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->

                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">
                            منشئ قائمة المفردات
                        </a>
                        <!-- ***** Logo End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <style>
        hr.rounded {
            border-top: 8px solid;
            border-color: rgba(104, 204, 152, 1);
            border-radius: 5px;
        }

        form {
            background-color: white;
            padding: 30px;
        }

        form .input-group {
            margin-bottom: 15px;
        }

        form label {
            display: inline-block;
            width: 100%;
            text-align: right;
            margin-bottom: 10px;
        }

        form input {
            padding: 12px 20px;
            width: 100%;
            border: 1px solid #ccc;
        }


        .btn-group,
        .btn-group-vertical {
            position: relative;
            display: -ms-inline-flexbox;
            display: flex;
            vertical-align: middle;
        }

        .form-select {
            /* margin-top: 20px; */
            width: max-content;
            margin: 17px 20px 0px 20px;
        }

        .form-select option {
            /* margin-top: 20px; */
            text-align: right;
        }

        .submit-btn {
            width: 100%;
            background: #5fb759;
            font-size: 12px;
            color: white;
            border-radius: 3px;
            /* padding: 20px; */
            text-align: center;
        }
    </style>

    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <!-- ***** About Area Starts ***** -->
    <section class="section" id="about">
        <div class="container" style="padding-bottom: 10%;">
            <div class="row">
                <div class="col-sm-12 justify-content-center"
                    style="text-align: center; font-size: xx-large; color: #5fb759;"></div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="left-text-content">


                        <form id="form" action="/vocabulary" enctype="multipart/form-data" accept=".txt" accept-charset="UTF-8" method="POST">
                            <div class="input-group">

                                <label for='file' style="text-align: end; margin-top: 5%;">(txt) إختر الملف بصيغة</label>
                                <input id="file" type="file" name="myfile" required accept=".txt">
                            </div>

                            <div class="btn-group">

                                <span>
                                    <div class="input-group">
                                        <input id="submitBtn" class="submit-btn" type="submit"
                                            value="إبدأ تحليل النصوص">
                                    </div>
                                </span>

                            </div>

                        </form>

                        <!-- <script>
                            $("#form").submit(function () {
                               var keepalive = $.ajax({
                                    type: "GET",
                                    url: "/keepalive",
                                    success: (d)=> console.log(d),
                                    dataType: 'json'
                                });
                                setInterval(keepalive, 10000);
                            }
                            );
                        </script> -->
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="right-text-content">
                        <div class="section-heading">
                            <div style="text-align: right; font-size: medium;">
                                <br> هذه الأداة تقوم بتوليد قائمة بمفردات النص مصفاة من الرموز التي لا علاقة لها
                                بالمفردات العربية، وبعد ذلك يتم إخراج النتيجة للمستخدم، عبارة عن: ملفين إلكترونيين
                                بتنسيق أكسل و(بي دي إف) قابلين للتنزيل، في كل منهما جدول مكون من ثلاثة أعمدة، يوضع فيه:
                                <div dir="RTL">
                                    <ol type="1">
                                        <li>1. رقم الكلمة</li>
                                        <li>2. الكلمة</li>
                                        <li>3. مساحة فارغة</li>
                                    </ol>
                                </div>

                                ،تتيح للمستخدم كتابة ملاحظاته حول الكلمة، كترجمتها بلغته أو غيرها من الملاحظات.

                            </div>
                        </div>


                    </div>
                </div>
            </div>


        </div>
        </div>
    </section>
    <!-- ***** About Area Ends ***** -->


    <!-- ***** Footer Start ***** -->
    <footer style=" padding: 40px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="left-text-content">
                        <p>Copyright &copy; 2021 د.ناصر الراجح</p>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="right-text-content">
                        <ul class="social-icons">

                            <li>
                            </li>
                            <!-- <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a> -->
                            </li>
                            <li><a rel="nofollow" href="https://twitter.com/glx96"><i style="color: cornflowerblue;"
                                        class="fa fa-twitter"></i></a>
                            </li>
                            <li><a rel="nofollow" href="https://www.instagram.com/gli20032"><i class="fa fa-instagram"
                                        aria-hidden="true" style="color: #C13584;"></i></a>
                            </li>
                            <!-- <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-dribbble"></i></a> -->
                            </li>
                            <li style="color: white;"> :تابعني عبر القنوات التالية</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <!-- <script src="assets/js/popper.js"></script> -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/isotope.js"></script>

    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

    <script>

        $(function () {
            var selectedClass = "";
            $("p").click(function () {
                selectedClass = $(this).attr("data-rel");
                $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("." + selectedClass).fadeOut();
                setTimeout(function () {
                    $("." + selectedClass).fadeIn();
                    $("#portfolio").fadeTo(50, 1);
                }, 500);

            });
        });

    </script>

</body>

</html>