body {
    background-color: rgb(6, 26, 27);
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 500px;
    margin: 60px auto;
}

.container h1 {
    text-align: center;
    color: white;
}

form {
    background-color: white;
    padding: 30px;
}

form .input-group {
    margin-bottom: 15px;
}

form label {
    display: inline-block;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
}

form input {
    padding: 12px 20px;
    width: 100%;
    border: 1px solid #ccc;
}


.btn-group,
.btn-group-vertical {
    position: relative;
    display: -ms-inline-flexbox;
    display: flex;
    vertical-align: middle;
}

.form-select {
    /* margin-top: 20px; */
    width: max-content;
    margin: 17px 20px 0px 20px;
}

.form-select option {
    /* margin-top: 20px; */
    text-align: right;
}

.submit-btn {
    width: 100%;
    background: rgb(37, 83, 3);
    font-size: 12px;
    color: white;
    border-radius: 3px;
    /* padding: 20px; */
    text-align: center;
}